@model ContentListViewModel 

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies</title>
</head>
<body>
    <input type="button" class="delete-button">
    @if (Model.RatedList != null && Model.RatedList.Any())
    {
        @await Html.PartialAsync("RatedListPartial", Model.RatedList)
    }
    <br>
    @if (Model.RememberedList != null && Model.RememberedList.Any())
    {
        @await Html.PartialAsync("RememberedListPartial", Model.RememberedList)
    }
</body>
</html>