@{
    Layout = "";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>ServerError</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version=" true" />
    <link rel="shortcut icon" href="~/reporting/favicon.ico">
</head>
<body>
    <div class="error-block">
        <img src="~/images/Error.png">
        <p>...404 Not Found...</p>
    </div>
</body>
</html>