<div class="type-action-content">
    <p>Добро пожаловать, хикан. Это любительский сервис для учета твоего контента, здесь ты можешь оценить контент с которым ты уже ознакомился или записать что-нибудь на будущее, чтобы вернуться к этому позже. В соответсвующих вкладках будут храниться твои списки.</p>
    <ul>
        <li><a asp-controller="Home" asp-action="NewRate">Оценить</a></li>
        <li><a asp-controller="Home" asp-action="NewRemember">Записать на будущее</a></li>
    </ul>
</div>