@model RememberContent

<div>
    <div class="remember-form-block">
        <form asp-controller="Home" asp-action="NewRemember" method="post" class="remember-form">
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="Name" placeholder="Название" class="txt-input" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="txt-input">
                    <option value"" disabled="disabled" selected="selected">Категория</option>
                </select>
            </div>
            <div>
                <input asp-for="Genre" placeholder="Жанр" class="txt-input" />
                <span asp-validation-for="Genre"></span>
            </div>
            <div>
                <input asp-for="Autor" placeholder="Автор" class="txt-input" />
                <span asp-validation-for="Autor"></span>
            </div>
            <div>
                <input asp-for="CreationYear" placeholder="Год создания" class="txt-input" />
                <span asp-validation-for="CreationYear"></span>
            </div>
            <div>
                <input type="submit" value="Сохранить" class="button-sub" />
            </div>
        </form>
    </div>
</div>