@model RateContent

<div>
    <div>
        <form asp-controller="Home" asp-action="NewRate" method="post" class="r-form">
            <div asp-validation-summary="All"></div>
            <div>
                <input asp-for="Name" placeholder="Название" class="txt-input" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="txt-input">
                    <option value"" disabled="disabled" selected="selected">Категория</option>
                </select>
            </div>
            <div>
                <input asp-for="Genre" placeholder="Жанр" class="txt-input">
                <span asp-validation-for="Genre"></span>
            </div>
            <div>
                <input asp-for="Autor" placeholder="Автор" class="txt-input">
                <span asp-validation-for="Autor"></span>
            </div>
            <div>
                <input asp-for="CreationYear" placeholder="Год выпуска" class="txt-input" />
                <span asp-validation-for="CreationYear"></span>
            </div>
            <div>
                <input asp-for="Rating" placeholder="Оценка" class="txt-input" />
                <span asp-validation-for="Rating"></span>
            </div>
            <div>
                <label class="label-check">Пометить как избранное <img src="~/images/fav.png" class="ico"></label>
                <input id="cbx" style="display:none" asp-for="Replay" />
                <label for="cbx" class="toggle-check"><span></span></label>
                <span asp-validation-for="Replay"></span>
            </div>
            <div>
                <input type="submit" value="Сохранить" class="button-sub" />
            </div>
        </form>
    </div>
</div>