@model RememberContentViewModel

<div id="remember-form-container" class="form-container">
    <form method="post" id="remember-form" class="r-form">
        <div asp-validation-summary="All"></div>
        <div>
            <span asp-validation-for="Name"></span>
            <input asp-for="Name" placeholder="Название" class="txt-input remember-txt-input" />
        </div>
        <div>
            <select asp-for="CategoryId" asp-items=@ViewBag.Categories class="txt-input remember-txt-input">
                <option value"" disabled="disabled" selected="selected">Категория</option>
            </select>
        </div>
        <div>
            <span asp-validation-for="Genre"></span>
            <input asp-for="Genre" placeholder="Жанр" class="txt-input remember-txt-input" />
        </div>
        <div>
            <span asp-validation-for="Autor"></span>
            <input asp-for="Autor" placeholder="Автор" class="txt-input remember-txt-input" />
        </div>
        <div>
            <span asp-validation-for="CreationYear"></span>
            <input asp-for="CreationYear" placeholder="Год выпуска" class="txt-input remember-txt-input" />
        </div>
        <div>
            <input type="button" value="Сохранить" class="button-sub remember-button-sub" />
        </div>
    </form>
</div>