<div class="signout-container">
    <a asp-controller="Account" asp-action="GetUserData"><img src="~/images/login.png" class="log-icon" /></a>
    <div class="dropdown-content">
        <a asp-controller="Account" asp-action="Logout">Выход</a>
    </div>
</div>