<div class="signin-container">
    <a asp-controller="Account" asp-action="Login"><img src="~/images/login.png" class="log-icon" /></a>
    <div class="dropdown-content">
        <a asp-controller="Account" asp-action="Login">Вход</a>
        <a asp-controller="Account" asp-action="Registration">Регистрация</a>
    </div>
</div>