<footer class="copyright">
    <ul>
        <li>@Config.CompanyName</li>
        <li class="list-inline-item"><a href="#">VK</a></li>
        <li class="list-inline-item"><a href="#">TG</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>