<footer class="copyright">
    <span>@Config.CompanyName</span>
    <p>По всем вопросам обращаться в вк или тг, также вы можете присылать свои предложения по улчшению сервиса или сообщать об ошибках</p>
    <ul>
        <li><a href="#"><img src="~/images/VK.png"></a></li>
        <li><a href="#"><img src="~/images/TG.png"></a></li>
    </ul>
</footer>