<footer class="copyright">
    <ul>
        <li>@Config.CompanyName</li>
        <li><a href="#" class="vk">VK</a></li>
        <li><a href="#" class="tg">TG</a></li>
    </ul>
    <p>По всем вопросам обращаться в вк или тг, также Вы можете присылать свои предложения по улчшению сервиса или сообщать об ошибках</p>
</footer>