<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">
                    <h1><a href="/" id="logo">@Config.ProjectName</a></h1>
                    <nav id="nav">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-controller="Content" asp-action="FilmList">Фильмы</a>
                        <a asp-controller="Content" asp-action="BookList">Книги</a>
                        <a asp-controller="Content" asp-action="SerialList">Сериалы</a>
                        <a asp-controller="Content" asp-action="CartoonList">Мультфильмы</a>
                        <a asp-controller="Content" asp-action="GameList">Игры</a>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>