<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">
                    <h1><a href="/" id="logo">@Config.ProjectName</a></h1>
                    <nav id="nav">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <a asp-controller="Content" asp-action="ListFilms">Фильмы</a>
                        <a asp-controller="Content" asp-action="ListBooks">Книги</a>
                        <a asp-controller="Content" asp-action="ListSerials">Сериалы</a>
                        <a asp-controller="Content" asp-action="ListMultfilms">Мультфильмы</a>
                        <a asp-controller="Content" asp-action="ListGames">Игры</a>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>