<div class="col-4 col-12-medium">
    <section class="sidebar">
        <h2>Случайная цитата</h2>
        <ul class="small-image-list">
            <li>
                @*@{ResponseModel response = (ResponseModel)ViewBag.Quote;
                    <h4>@response.Character</h4>
                        <h4>@response.Quote</h4>
                        <h4>Show: @response.Show</h4>
                        }*@
            </li>
        </ul>
    </section>
</div>