@model ApiQuoteData

<div class="col-4 col-12-medium">
    <section class="sidebar">
        <ul class="small-image-list">
            <li>
                <h3>@Model.Show</h3>
                <h3>@Model.Quote</h3>
                <h3>(@Model.Сharacter)</h3>
            </li>
        </ul>
    </section>
</div>