@model ApiQuoteData

<div class="col-4 col-12-medium">
    <section class="sidebar">
        <h2>Случайная цитата</h2>
        <ul class="small-image-list">
            <li>
                <h3>@Model.Show</h3>
                <p>@Model.Quote</p>
                <h3>Character: @Model.Сharacter</h3>
            </li>
        </ul>
    </section>
</div>